<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon/favicon.ico" | relative_url }}">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  
  {%- include mathjax.html -%}

  <script src="{{ "/assets/js/common.js" |  relative_url }}" type="text/javascript" charset="utf-8" defer></script> 
 
  {% assign path = page.categories | join: "/" | append: "/" | append: page.js | append: ".js" %}
  <script src="{{ "/assets/js/" | append: path | relative_url }}" type="text/javascript" charset="utf-8" defer></script>

</head>